<div class="col-md-2 sidebar">

    <div class="p-4">

        <h4 class="fw-bold">

            Secure Fog

        </h4>

        <hr>

        <div class="list-group list-group-flush">

            <a href="{% url 'dashboard:home' %}"
               class="list-group-item">

                Dashboard

            </a>

            <a href="{% url 'dashboard:records_list' %}"
               class="list-group-item">

                Medical Records

            </a>

            <a href="#"
               class="list-group-item">

                Audit Logs

            </a>

            <a href="#"
               class="list-group-item">

                Users

            </a>

            <hr>

            <a href="{% url 'dashboard:logout' %}"
               class="list-group-item text-danger">

                Logout

            </a>

        </div>

    </div>

</div>